$breakpoints: (
  "xs": 36em,
  "sm": 48em,
  "md": 62em,
  "lg": 75em,
  "xl": 87.5em,
) !default;

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

.favorite {
  background-color: #22254b;
  min-height: 80vh;
  &__empty {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h1 {
      color: #fff;
    }
    p {
      color: #fff;
      margin-block: 20px;
    }
    button {
      padding: 10px;
      border-radius: 20px;
      color: #fff;
      background-color: rgb(1, 180, 228);
      border: none;
      outline: none;
      cursor: pointer;
    }
  }
  &__container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      &__card {
        display: flex;
        flex-direction: column;
        background-color: #373b69;
        margin: 10px;
        width: 300px;
        a {
          text-decoration: none;
        }
        &__img {
          width: 300px;
          height: 200px;
          &__icon {
            position: absolute;
            padding: 10px;
            button {
              background-color: transparent;
              outline: none;
              border: none;
              cursor: pointer;
            }
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
        &__name {
          padding: 10px;
          display: flex;
          h3 {
            color: #fff;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box !important;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            white-space: normal;
          }
        }
      }
    }
  }
}

@include breakpoint(md) {
  .favorite {
    &__container {
      &__list {
        &__card {
          width: 45%;
          &__img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
@include breakpoint(xs) {
  .favorite {
    &__container {
      &__list {
        justify-content: center;
        &__card {
          width: 80%;
        }
      }
    }
  }
}
