$breakpoints: (
  "xs": 36em,
  "sm": 48em,
  "md": 62em,
  "lg": 75em,
  "xl": 87.5em,
) !default;

@mixin breakpoint($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

.sign {
  background-image: url("../assets/chair.jpg");
  min-height: 86vh;
  display: flex;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: center;
  &__container {
    padding: 20px;
    form {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 2rem;
      }
      h1,
      p {
        color: #fff;
        text-align: center;
      }
      input {
        width: 400px;
        height: 40px;
        padding: 20px;
        font-size: 18px;
        border-radius: 20px;
        margin-block: 10px;
        outline: none;
        border: none;
      }
      button {
        height: 40px;
        font-size: 18px;
        border-radius: 20px;
        margin-bottom: 5px;
        cursor: pointer;
        outline: none;
        border: none;
        color: white;
        background-color: #373b69;
        &:hover {
          transition: all 0.3s ease-in-out;
          background-color: #22254b;
        }
      }
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

@include breakpoint(sm) {
  .sign {
    &__container {
      width: 80%;
      form {
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
  }
}
@include breakpoint(xs) {
  .sign {
    &__container {
      width: 90%;
      form {
        width: 100%;
        input {
          width: 100%;
        }
      }
    }
  }
}
